.ant-tag{
    min-width: 100px;
    max-width: 220px;
    height: 35px;
    margin: 5px;
    line-height: 2.7;
    text-align: center;
}

.tag-span{
    line-height: 3.2;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.ant-col.ant-col-3{
    width: 100px;
    text-align: right;
    padding-right: 10px;
}

.ant-tag-add{
    min-width: 50px;
    max-width: 50px;
}

.ant-transfer-list{
    width: 300px;
    height: 300px;
}
