/*通知列表样式*/
.element::-webkit-scrollbar {
    width: 0 !important
}

.element {
    -ms-overflow-style: none;
}

.element {
    overflow: -moz-scrollbars-none;
}

::-webkit-scrollbar {

    display: none;
}

.ant-advanced-search-form {
    padding: 15px 10px 15px 10px;
    background: #fbfbfb;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
}

.ant-advanced-search-form .ant-form-item {
    display: flex;
}

.ant-advanced-search-form .ant-form-item-control-wrapper {
    flex: 1;
}

.search-box{
    margin: 15px 15px 0 15px;
}

.form-item-search{
    margin: 0 15px;
}

.form-item-btn{
    margin: 5px 0px 0 15px;
}

.ant-row.ant-form-item{
    margin-bottom: 5px;
}
