/*通知列表样式*/

.element::-webkit-scrollbar {
    width: 0 !important
}

.element {
    -ms-overflow-style: none;
}

.element {
    overflow: -moz-scrollbars-none;
}


::-webkit-scrollbar {

    display: none;
}

.notice, .noticeForm {
    padding: 30px 0 0 0 !important;
}

.create-notice-btn {
    margin: 0;
}

.create-notice-btn {
    float: right;
}

.button-a {
    color: #ffffff;
    margin-left: 8px;
}

.anticon + .button-a, .button-a + .anticon {
    margin-left: 8px;
    color: #ffffff;
}

.notice-list {
    margin: 0 170px;
    min-height: 350px;
    overflow-x: hidden;
    overflow-y: auto;
}

/*分页居中*/
.ant-list-pagination {
    text-align: center;
}

.ant-list-vertical .ant-list-item-action {
    float: right;
    margin: -50px 0 0 0;
}

.ant-list-vertical .ant-list-item-meta {
    margin: 0 0 8px 0;
}

.hide {
    display: none;
}

.ant-form-item {
    margin-bottom: 10px;
}

li {
    list-style-type: none;
}

.fj-list {
    margin: -4px 0 0 0;
}

.divider-line {
    margin: -5px 0 -5px 0;
}

.notice-fbr {
    text-align: right;
}

.bzr-img {
    margin-top: -3px;
}

.reply-list {
    max-height: 300px;
    overflow: auto;
}

.reply-content {
    margin-top: 10px;
    margin-left: 10px;
    word-wrap: break-word !important;
    word-break: break-all !important;
    overflow: hidden !important;
}

.reply-time {
    margin-top: -25px !important;
    margin-right: 10px !important;
    text-align: right !important;
}

.form-diy-check {
    margin: -1px 10px 0 0;
}

.form-diy-check-clsagrd::before {
    display: inline-block;
    margin-right: 4px;
    color: #f5222d;
    font-size: 14px;
    font-family: SimSun, sans-serif;
    line-height: 1;
    content: '';
}

.ant-form-item-required::before {
    display: inline-block;
    margin-right: 4px;
    color: #f5222d;
    font-size: 14px;
    font-family: SimSun, sans-serif;
    line-height: 1;
    content: '' !important;
}

.ant-list-vertical .ant-list-item-action {
    margin-top: -28px !important;
    margin-left: auto;
}

.ant-avatar-image {
    margin-right: 8px !important;
}

.ant-pagination {
    float: right;
}

.ant-typography {
    word-break: break-all !important;
}
