/*通知列表样式*/

.element::-webkit-scrollbar {
    width: 0 !important
}

.element {
    -ms-overflow-style: none;
}

.element {
    overflow: -moz-scrollbars-none;
}


::-webkit-scrollbar {

    display: none;
}
.info{
    margin-top: 50px;
}
.info-button{
    float: right;
    margin:0 10px 5px 0;
}
.ant-pagination.ant-table-pagination{
    margin:16px 10px !important;
}
.ant-table-thead > tr> th,.even{
    /*background: #f3f3f3 !important;*/
    background: #DDDDDD !important;
}
.even{
    background: #f5f5f5 !important;
}
.odd{
    background: #ffffff !important;
}
