@import 'default';
@import 'scrollbar';
@import 'index';
/**
 * override.less
 * 作用：覆盖 Antd 默认样式
 *
 * 格式要求：
 *   1. 最外层样式名必须是 Antd 组件的顶层元素的样式名，如：ant-table, ant-form
 *   2. 必须标注覆盖这个样式的原因
 *   3. 标注日期
 *   4. 注释使用多行带星号的写法
 */

.ant-form {
  .ant-form-item {

    /**
     * 默认表单内的按钮没有间距，因此加上 6px 的按钮间距
     * 2019.07.10
     */
    button + button {
      margin-left: 6px;
    }
  }

  /**
   * 水平表单的下拉选择框没有最小宽度，宽度会很窄，因此添加默认最小宽度为 100px
   * 2019.07.25
   */
  &.ant-form-inline {
    .ant-select {
      min-width: 100px;
    }
  }

  /**
   * 水平表单的按钮在修改字体为 12px 后，会稍微往下掉一个像素，发现行高改为 1.5 可以解决
   * 2019.07.25
   */
  .ant-btn {
    line-height: 1.5;
  }
}


.ant-alert {

  /**
   * 默认警告提示的关闭按钮，在修改主题字号为 12px 后，距离顶部 8px 过高，单行显示时稍微往下掉，因此改为 6px
   * 2019.07.10
   */
  .ant-alert-close-icon {
    top: 6px;
  }
}


.ant-table {

  /**
   * 小号表格默认会有 8px 的左右间距，并不需要
   * 2019.07.29
   */
  &.ant-table-small > .ant-table-content > .ant-table-body {
    margin: 0;
  }

  /**
   * 小号表格灰色表头
   * 2019.07.29
   */
  &.ant-table-small > .ant-table-content > .ant-table-header > table > .ant-table-thead > tr > th,
  &.ant-table-small > .ant-table-content > .ant-table-body > table > .ant-table-thead > tr > th,
  &.ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-header > table > .ant-table-thead > tr > th,
  &.ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-body > table > .ant-table-thead > tr > th,
  &.ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-header > table > .ant-table-thead > tr > th,
  &.ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-header > table > .ant-table-thead > tr > th,
  &.ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-thead > tr > th,
  &.ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-thead > tr > th {
    background-color: @table-header-background-color;
  }

  /**
   * 小号表格行鼠标覆盖时添加浅蓝色背景（原样式被 antd.less 的覆盖而无法生效，神秘）
   * 2019.08.12
   */
  &.ant-table-small .ant-table-thead > tr.ant-table-row-hover:not(.ant-table-expanded-row) > td,
  &.ant-table-small .ant-table-tbody > tr.ant-table-row-hover:not(.ant-table-expanded-row) > td,
  &.ant-table-small .ant-table-thead > tr:hover:not(.ant-table-expanded-row) > td,
  &.ant-table-small .ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td {
    background-color: @table-row-hover-background-color;
  }

  /**
   * 小号表格各行最后一格默认的 border-right 为 none，会导致嵌套表头的边框不显示
   * 因此取消掉 ant-table-content 的右边框，添加各行最后一格的右边框
   * 2019.08.08
   */
  &.ant-table-small.ant-table-bordered .ant-table-thead > tr > th:last-child,
  &.ant-table-small.ant-table-bordered .ant-table-tbody > tr > td:last-child {
    border-right: 1px solid @border-color-split;
  }
  &.ant-table-small.ant-table-bordered .ant-table-content {
    border-right: none;
  }
}


/**
 * table的表头背景色
 * 2019.07.10
 */
.ant-table-thead > tr > th{
  // background: yellow;
  // color: red;
  // font-size: 20px;
}

/**
  * tabled的表格主体样式
  * 2019.07.10
  */
.ant-table-tbody > tr > td{
  background: #fafafa;
  // color: red;
  // font-size: 15px;
}

/**
 * form表单中的laber样式
 * 2019.07.10
 */
.ant-form-item-label > label{
  // color: red;
}

/**
 * modal弹出框的表头样式
 * 2019.07.10
 */
.ant-modal-title{
  // color: red;
  // font-size: 20px;
}

/**
 * btn主按钮样式
 * 2019.07.10
 */
.ant-btn-primary{
  // color: red !important;
  // background: #000 !important;
  // border-color: #000 !important;
}

/**
 * tree控件的样式
 * 2019.07.10
 */
.ant-tree-title{
  // color: red !important;
  // font-size: 15px;
}

/**
 * 多级列表展开按钮背景色
 * 2019.07.10
 */
.ant-tree.ant-tree-show-line li span.ant-tree-switcher{
  background: inherit;
}

/**
 * 步骤条内容框样式
 * 2019.07.10
 */
.steps-content {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  background-color: #fafafa;
  min-height: 200px;
  text-align: center;
  padding-top: 80px;
}

/**
 * 步骤条下一步按钮到顶部距离
 * 2019.07.10
 */
.steps-action {
  margin-top: 24px;
}

.ant-steps-item-finish > .ant-steps-item-content > .ant-steps-item-title{
  // font-size: 30px;
  // color: gray;
}

.ant-steps-item-wait > .ant-steps-item-content > .ant-steps-item-title{
  // font-size: 30px;
  // color: gray;
}

.ant-steps-item-process > .ant-steps-item-content > .ant-steps-item-title{
  // font-size: 30px;
  // color: red;
}
